extends ../partials/layout

append css
  link(rel='stylesheet', href='#{CONTEXT_PATH}/css/backbone.css')
  
append js
  script(src='#{CONTEXT_PATH}/js/backbone/app.js')
  
block content
  .container
    #guessyou
      .mt
        h2 猜你喜欢
        a.extra(href='javascript:;') 换一批
      .mc
        .spacer
          i
        ul
          li.fore1
            .inner
              .p-img
                a(href='//item.jd.com/2191150.html', target='_blank')
                  img(width='130', height='130', title='双超（suncao）SC-SB011 多功能仰卧板 家用仰卧起坐健腹肌板 家用运动健身器材', src='#{CONTEXT_PATH}/images/store/565951c3Ncbedcad1.jpg')
              .p-info
                .p-name
                  a(href='//item.jd.com/2191150.html', target='_blank', title='双超（suncao）SC-SB011 多功能仰卧板 家用仰卧起坐健腹肌板 家用运动健身器材') 双超（suncao）SC-SB011 多功能仰卧板 家用仰卧起坐健腹肌板 家用运动健身器材
                .p-price
                  i ¥
                  | 148.00
              .p-btn
                a(href='#' class='btn-append' onclick='return false;')
                  b
                  | 加入购物车
          li.fore2
            .inner
              .p-img
                a(href='//item.jd.com/1817560.html', target='_blank')
                  img(width='130', height='130', title='丰成（FENC）仰卧板 家用仰卧起坐健腹肌板 多功能健身器材 折叠系列FZ15b', src='#{CONTEXT_PATH}/images/store//55d2c45eN28bdb893.jpg')
              .p-info
                .p-name
                  a(href='//item.jd.com/1817560.html', target='_blank', title='丰成（FENC）仰卧板 家用仰卧起坐健腹肌板 多功能健身器材 折叠系列FZ15b') 丰成（FENC）仰卧板 家用仰卧起坐健腹肌板 多功能健身器材 折叠系列FZ15b
                .p-price
                  i ¥
                  | 158.00
              .p-btn
                a(href='#' class='btn-append' onclick='return false;')
                  b
                  | 加入购物车  
          li.fore3
            .inner
              .p-img
                a(href='//item.jd.com/1445189938.html', target='_blank')
                  img(width='130', height='130', title='米客MIKE 仰卧起坐器脚蹬拉力器健腹器收腹机多功能弹簧男士女士锻炼运动健身器材家用 灰橙色-现货', src='#{CONTEXT_PATH}/images/store/54ace8b0N3523c943.jpg')
              .p-info
                .p-name
                  a(href='//item.jd.com/1445189938.html', target='_blank', title='米客MIKE 仰卧起坐器脚蹬拉力器健腹器收腹机多功能弹簧男士女士锻炼运动健身器材家用 灰橙色-现货') 米客MIKE 仰卧起坐器脚蹬拉力器健腹器收腹机多功能弹簧男士女士锻炼运动健身器材家用 灰橙色-现货
                .p-price
                  i ¥
                  | 59.00
              .p-btn
                a(href='#' class='btn-append' onclick='return false;')
                  b
                  | 加入购物车  
          li.fore4
            .inner
              .p-img
                a(href='//item.jd.com/1680268.html', target='_blank')
                  img(width='130', height='130', title='伊吉康雷神家用静音动感单车 室内健身车 JS300780E', src='#{CONTEXT_PATH}/images/store/56c14b55N8491d5f0.jpg')
              .p-info
                .p-name
                  a(href='//item.jd.com/1680268.html', target='_blank', title='伊吉康雷神家用静音动感单车 室内健身车 JS300780E') 伊吉康雷神家用静音动感单车 室内健身车 JS300780E
                .p-price
                  i ¥
                  | 1499.00
              .p-btn
                a(href='#' class='btn-append' onclick='return false;')
                  b
                  | 加入购物车  
          li.fore5
            .inner
              .p-img
                a(href='//item.jd.com/954924.html', target='_blank')
                  img(width='130', height='130', title='凯速静音型双轮健腹器 腹肌轮健腹轮滚轮KA05 绿色（含膝盖垫）', src='#{CONTEXT_PATH}/images/store//56555e3aN561a46aa.jpg')
              .p-info
                .p-name
                  a(href='//item.jd.com/954924.html', target='_blank', title='凯速静音型双轮健腹器 腹肌轮健腹轮滚轮KA05 绿色（含膝盖垫）') 凯速静音型双轮健腹器 腹肌轮健腹轮滚轮KA05 绿色（含膝盖垫）
                .p-price
                  i ¥
                  | 39.00
              .p-btn
                a(href='#' class='btn-append' onclick='return false;')
                  b
                  | 加入购物车  
          li.fore6
            .inner
              .p-img
                a(href='//item.jd.com/797248.html', target='_blank')
                  img(width='130', height='130', title='诚悦运动健身组合电镀哑铃15公斤kg礼盒CY-024赠手套护腕连接器', src='#{CONTEXT_PATH}/images/store/57187246Necda1196.jpg')
              .p-info
                .p-name
                  a(href='//item.jd.com/797248.html', target='_blank', title='诚悦运动健身组合电镀哑铃15公斤kg礼盒CY-024赠手套护腕连接器') 诚悦运动健身组合电镀哑铃15公斤kg礼盒CY-024赠手套护腕连接器
                .p-price
                  i ¥
                  | 199.00
              .p-btn
                a(href='#' class='btn-append' onclick='return false;')
                  b
                  | 加入购物车    

    #shopping-cart-wrapper
      ul.list
        li
          .pic
            a(href='//item.jd.com/2191150.html', target='_blank')
              img(width='60', height='60', title='双超（suncao）SC-SB011 多功能仰卧板 家用仰卧起坐健腹肌板 家用运动健身器材', src='#{CONTEXT_PATH}/images/store/565951c3Ncbedcad1.jpg')        
          .info
            a.name(href='//item.jd.com/2191150.html', target='_blank', title='双超（suncao）SC-SB011 多功能仰卧板 家用仰卧起坐健腹肌板 家用运动健身器材') 双超（suncao）SC-SB011 多功能仰卧板 家用仰卧起坐健腹肌板 家用运动健身器材
          .price ￥10
          .amount
            a.minus(href='#', onclick='return false;') -
            input.text(autocomplete='off')
            a.plus(href='#', onclick='return false;') +
          .sum ￥10
          .op
            input.del(type='button', value='删除')
            
        li
          .pic
            a(href='//item.jd.com/2191150.html', target='_blank')
              img(width='60', height='60', title='双超（suncao）SC-SB011 多功能仰卧板 家用仰卧起坐健腹肌板 家用运动健身器材', src='#{CONTEXT_PATH}/images/store/565951c3Ncbedcad1.jpg')        
          .info
            a.name(href='//item.jd.com/2191150.html', target='_blank', title='双超（suncao）SC-SB011 多功能仰卧板 家用仰卧起坐健腹肌板 家用运动健身器材') 双超（suncao）SC-SB011 多功能仰卧板 家用仰卧起坐健腹肌板 家用运动健身器材
          .price ￥10
          .amount
            a.minus(href='#', onclick='return false;') -
            input.text(autocomplete='off')
            a.plus(href='#', onclick='return false;') +
          .sum ￥10
          .op
            input.del(type='button', value='删除')
            
        li
          .pic
            a(href='//item.jd.com/2191150.html', target='_blank')
              img(width='60', height='60', title='双超（suncao）SC-SB011 多功能仰卧板 家用仰卧起坐健腹肌板 家用运动健身器材', src='#{CONTEXT_PATH}/images/store/565951c3Ncbedcad1.jpg')        
          .info
            a.name(href='//item.jd.com/2191150.html', target='_blank', title='双超（suncao）SC-SB011 多功能仰卧板 家用仰卧起坐健腹肌板 家用运动健身器材') 双超（suncao）SC-SB011 多功能仰卧板 家用仰卧起坐健腹肌板 家用运动健身器材
          .price ￥10
          .amount
            a.minus(href='#', onclick='return false;') -
            input.text(autocomplete='off')
            a.plus(href='#', onclick='return false;') +
          .sum ￥10
          .op
            input.del(type='button', value='删除')
            
      .total-wrapper
        | 已选商品
        em.num 0
        | 件
        | 合计：
        i.unit ￥
        em.total 0.00              
            
    #wrap
      h2#basket-message
        | You have
        span#basket 0
        |  items in your basket
      ul#default-item-list
      table#shopping-cart
        tbody#shopping-list
        tfoot
          tr
            td#total(colspan='4') 0.00
    script#tmp-shoppingListItem(type='text/template').
      <a class="name"><%= title %></a>
      <span class="price"><%= price.toFixed(2) %></span>
    script#tmp-shoppingCartItem(type='text/template').
      <td class="name"><%= title %></td>
      <td class="quantity-total"><%= quantity %> </td>
      <td><a class="quantity" data-type="increase"><a class="quantity" data-type="decrease"></a> </a></td>
      <td class="sub-total"><%= total.toFixed(2) %></td>
