extends ../../partials/layout

append css
  link(rel='stylesheet', href='#{CONTEXT_PATH}/css/home.css')
  //[if lt IE 9]>
    <link rel='stylesheet' href='#{CONTEXT_PATH}/css/home_ie.css'><![endif]

append js
  script(src='#{CONTEXT_PATH}/js/responsive/app.js')

block content

  .site-wrapper
    .banner.index-banner(style='background-image: url(#{CONTEXT_PATH}/images/w_201510131633012709.jpg);')
    .page-section.grey
      #flow01.module.grid-module
        .row
          .col.span-8.sm-span-12
            a.grid.grid2x1.grid-img-cont.xs-grid1x2(href='#', target='_blank')
              .images-wrapper
                img.lazy(data-original='#{CONTEXT_PATH}/images/home/pic.jpg', alt='生活照')
              .content-wrapper
                h3 奉新明
                p.info-intro 舜发于畎亩之中，傅说举于版筑之间，胶鬲举于鱼盐之中，管夷吾举于士，孙叔敖举于海，百里奚举于市，故天将降大任于是人也，必先苦其心志，劳其筋骨，饿其体肤，空乏其身，行拂乱其所为，所以动心忍性，曾益其所不能。
                .pb-info
                  p
                    span(style='font-size:16px;') •
                    | 2008年 就职于无锡软通动力
                    br
                    span(style='font-size:16px;') •
                    | 2010年 就职于苏州东南融通
                    br
                    span(style='font-size:16px;') •
                    | 2013年 就职于广州软通动力
                    br
                    span(style='font-size:16px;') •
                    | 2014年 就职于深圳蜘蛛旅游
          .col.span-4.sm-span-12
            #service-grid.row
              .col.span-12.sm-span-4.xs-span-12.no-padding.sm-no-padding.web-show
                .grid.grid3x1
                  .cont-wrapper
                    a.icon(href='#', target='_blank')
                      i.icon.iconfont 
                      em 个人资料
              .col.span-12.sm-span-4.xs-span-12.no-padding.sm-no-padding.bg-grey.web-show
                .grid.grid3x1
                  .cont-wrapper
                    a.icon(href='#', target='_blank')
                      i.icon.iconfont 
                      em 我的相册
              .col.span-12.sm-span-4.xs-span-12.no-padding.sm-no-padding
                .grid.grid3x1
                  .cont-wrapper
                    a.icon(href='#', target='_blank')
                      i.icon.iconfont 
                      em 提交问题
    .page-section
      #flow02.module.grid-module
        .row
          .col.span-6.sm-span-12
            .grid.grid2x1.xs-grid1x2
              .note-pic
                img.lazy(data-original='#{CONTEXT_PATH}/images/home/sb01.jpg', alt='望庐山瀑布')
              .list-content
                h3 望庐山瀑布
                ul
                  li
                    a(href='#') 日照香炉生紫烟
                  li
                    a(href='#') 遥看瀑布挂前川
                  li
                    a(href='#') 飞流直下三千尺
                  li
                    a(href='#') 疑是银河落九天
                a.more(href='#') 更多>
          .col.span-6.sm-span-12
            .grid.grid2x1.xs-grid1x2
              .note-pic
                img.lazy(data-original='#{CONTEXT_PATH}/images/home/sb02.jpg', alt='送孟浩然之广陵')
              .list-content
                h3 送孟浩然之广陵
                ul
                  li
                    a(href='#') 故人西辞黄鹤楼
                  li
                    a(href='#') 烟花三月下扬州
                  li
                    a(href='#') 孤帆远影碧空尽
                  li
                    a(href='#') 惟见长江天际流
                  li
                a.more(href='#') 更多>
    .page-section.grey
      #flow002.module.grid-module
        #index-bot.row.no-padding-top
          .col.span-4.sm-span-12
            a.grid.sm-grid3x1.xs-grid3x2(href='#')
              .images-wrapper
                img.lazy(data-original='#{CONTEXT_PATH}/images/home/sb001.jpg', alt='邯郸学步')
              .content-wrapper
                h3 邯郸学步
                p.info-intro 战国时期，一个燕国人听说赵国邯郸人走姿很漂亮，便来到邯郸学习邯郸人走路。未得其能，又忘记自己的走姿，最后爬着回到了燕国。
                .pb-info
                  p
                    font(face='Menlo, monospace')
                      span(style='white-space: pre-wrap;')  
          .col.span-4.sm-span-12
            a.grid.sm-grid3x1.xs-grid3x2(href='#')
              .images-wrapper
                img.lazy(data-original='#{CONTEXT_PATH}/images/home/sb002.jpg', alt='色厉内荏')
              .content-wrapper
                h3 色厉内荏
                p.info-intro 有些人外表非常严厉，内心却十分怯懦，若拿小人来作比喻，就像是翻墙挖壁进入别人家里的盗贼。
                .pb-info
                  p
                    font(face='Menlo, monospace')
                      span(style='white-space: pre-wrap;')  
          .col.span-4.sm-span-12
            a.grid.sm-grid3x1.xs-grid3x2(href='#')
              .images-wrapper
                img.lazy(data-original='#{CONTEXT_PATH}/images/home/sb003.jpg', alt='尸位素餐')
              .content-wrapper
                h3 尸位素餐
                p.info-intro “喝茶看报纸”成了公务员的日常工作，政府仿佛是“闲置机构”，纳税人的钱都养了一群“闲人”
