doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='renderer' content='webkit')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    meta(name='keywords', content=KEYWORDS)
    meta(name='description', content=DESCRIPTION)
    title= COMPANY
    link(type='/image/x-icon', href='#{CONTEXT_PATH}/favicon.ico', rel='icon')
    link(type='/image/x-icon', href='#{CONTEXT_PATH}/favicon.ico', rel='shortcut')
    link(type='/image/x-icon', href='#{CONTEXT_PATH}/favicon.ico', rel='shortcut icon')
    link(rel='stylesheet', href='#{CONTEXT_PATH}/css/style.css')
    link(rel='stylesheet', href='http://cdn.gfzq.cn/gfw/styles/base-9005b0b0.css')
    link(rel='stylesheet', href='http://cdn.gfzq.cn/gfw/styles/style-32c8d505.css')
  body
    block content